<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://www.icon100.com/up/4070/256/Life-is-Strange.png" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mcc</title>
</head>
<body background="http://image3.redbull.com/rbcom/010/2015-08-27/1331743848839_2/0010/1/1500/1000/2/life-is-strange.jpg" image-attachment=fixed></body>
    <form method="POST" action="http://127.0.0.1:5000/auth/login">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <button type="submit">login</button>
    </form>
</body>
</html>