<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mcc的个人博客</title>
    <link rel="shortcut icon" href="http://www.icon100.com/up/4070/256/Life-is-Strange.png" >
    <link rel="stylesheet" type="text/css" href="./static/index.css">
    <script type="text/javascript" src="./static/index.js"></script> 
</head>
<body background="http://image3.redbull.com/rbcom/010/2015-08-27/1331743848839_2/0010/1/1500/1000/2/life-is-strange.jpg" image-attachment=fixed>
<div class="div">   
    
        <div   class="div2">
        <img src="https://github.com/mcc321/mcc/blob/master/img/mcc.png?raw=true" width=100px>          
        <TABLE BORDER="0" CELLSPACING="5" CELLPADDING="0" VSPACE="0" HSPACE="0" BORDERCOLOR="#999999"> 
                <TR> <TD COLSPAN="2"> 
                <!-DIRECTION=up/down/left/right/...> 
                <!-HEIGHT=字幕高度 WIDTH=字幕宽度> 
                <MARQUEE  align=center DIRECTION=up HEIGHT=20 WIDTH=100
                ONMOUSEOUT=this.scrollDelay=1
                ONMOUSEOVER=this.scrollDelay=600
                SCROLLAMOUNT=1 SCROLLDELAY=1 CLASS="tt"> 
                Welcome to mcc's blog</MARQUEE> 
                </TD></TR> </TABLE>
        </div>
        <div   class="div1">  
                <ul class=daohang>  
                    <li><a href="">首页</a></li>  
                    <li><a href="">我的个人性息</a></li>  
                    <li><a href="">我的日常</a></li>  
                    <li><a href="">我的生活剪影</a></li>  
                    <li><a href="">我的大学</a></li>  
                    <li><a href={{url}}>计算机网络课堂作业</a></li>  
                </ul>  
        </div> 
</div>    
                
    
</body>
</html>